/*
color palette:

lawn green: #95e836
black: #000300
snow: #fff7f9
coyote: #84714F
rose ebony: #5A3A31
bistre: #31231E
african violet: #AB92BF
*/

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    min-width: 100%;
    min-height: 100vh;
    font-family: Vinque, Roboto, serif;
    background-image: url("../img/homepage-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}


.text-container
{
    display: flex;
    margin-top: 2.5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color-50);
    width: 60%;
    text-align: center;
    height: 50%;
    border-radius: 1vw;
    padding-bottom: 0.5rem;
}


.other-game-buttons
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    column-gap: .5%;
    row-gap: 5%;
}

.fortress-button
{
   grid-column: span 3;
}

.other-game-buttons button
{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: Vinque, Roboto, serif;
    background-color: var(--button-color);
    border: 0.2vw solid snow;
    border-radius: 0.5vw;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;


}

.other-game-buttons button:hover
{
    background-color: var(--button-hover-color);
    border: 0.2vw solid #e5e0e0;
    cursor: pointer;
    transform: scale(1.025);
}



.text-container h1
{
    font-size: 2.5rem;
    padding: 0.75rem 0.75rem;
    color: var(--secondary-color-100);
}

b
{
    font-weight: 800;
}

.text-container p
{
    font-size: 1.25rem;
    color: black;
}


@media screen and (max-width: 768px)
{
    .text-container
    {
        width: 80%;
    }

    .other-game-buttons
    {
        display: flex;
        flex-direction: column;
        gap: 5%;
    }

    .other-game-buttons button
    {
        margin: 2.5% 0;
    }
}

