body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    min-width: 100%;
    min-height: 100vh;
    font-family: Vinque, Roboto, serif;
    background-image: url("../img/homepage-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.wiki-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin-top: 2.5%;
}

.search-bar
{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 2.5vh;
    background-color: var(--tertiary-color-50);
    border: 0.15vw solid var(--quaternary-color-100);
    border-radius: 0.25vw;
    font-size: 1.1rem;
    font-weight: 600;

}

.search-bar :nth-child(2)
{
    right: 0;
    position: absolute;
    color: var(--snow-100);
    font-size: 1.1rem;
    margin-right: .5%;
}

.search-bar input
{
    width: 100%;
    height: 100%;
    background-color: var(--tertiary-color-50);
    border: none;
    font-size: 1.1rem;
    font-family: Vinque, Roboto, serif;
    font-weight: 600;
}

::placeholder
{
    color: var(--snow-100);
}